@model TasteFoodIt.Entity.Admin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid" id="container-wrapper">
 
 <div class="col-lg-12">
                <!-- Form Basic -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-danger">@ViewBag.name Güncelleme Paneli</h6>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-12 text-danger text-lg-center">Profil Sayfası</label>
                    </div>
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="col-sm-12 p-4 p-md-5 d-flex align-items-center justify-content-center bg-gradient-primary text-white">
                                <div class="col-lg-10">  <h1> <p> Profil Paneline HoşGeldin @ViewBag.v </p></h1></div>
                                <div class="col-lg-2"><img style="width: 100px; height: 100px;" src="@Model.ImageUrl" class="img-thumbnail"></div>
                              

                           
                                    
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="row justify-content-center">
                                @Html.HiddenFor(x => x.AdminId)
                               
                                @Html.HiddenFor(x => x.Username)
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleCategory">İsim</label>
                                        <div class="input-group clockpicker" id="clockPicker1">
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-danger"><i class="fas fa-user"></i></span>
                                            </div>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleCategory">Email</label>
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-danger"><i class="fas fa-mail-bulk"></i></span>
                                            </div>
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleCategory">Soyisim</label>
                                        <div class="input-group date">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-danger"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleCategory">Telefon</label>
                                        <div class="input-group clockpicker" id="clockPicker1">

                                            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-danger"><i class="fas fa-phone"></i></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleCategory">Sifre</label>
                                        <div class="input-group clockpicker" id="clockPicker1">
                                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-danger"><i class="fas fa-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mevcut Görsel</label>
                                        <label>
                                            <span>@Model.ImageUrl</span>
                                        </label>
                                        <br />
                                        <img style="width: 20%; height: 20%;" src="@Model.ImageUrl" alt="@Model.ImageUrl" class="img-thumbnail">
                                        <br />

                                        <div class="form-group ">
                                            <div class="custom-file ">
                                                <input type="file" class="custom-file-input bg-danger" id="customFile" name="ImageUrl" onchange="updateFileName(this)">
                                                <label class="custom-file-label" for="customFile">@Model.ImageUrl</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12 text-center">
                                    <button type="submit" style="color:white" class="btn bg-gradient-primary col-lg-4">Bilgilerini Güncelle</button>
                                </div>

                            </div>
                            <br /><br />
                          


                        </form>
                    </div>
                </div>
            </div>



        </div>

        <!--Row-->


    
<script src="~/Templates/ruang-admin/js/demo/choosefilesprofile.js"></script>
