@model List<TasteFoodIt.Entity.Reservation>
@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.name Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">@ViewBag.name</li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.name İşlemleri</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">@ViewBag.name Tablosu</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>*</th>
                                <th> Adı</th>
                                <th>telefon</th>
                                <th>email</th>
                                <th>durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="#">@item.ReservationId</a></td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    @if (item.ReservationStatus == "Onaylandı")
                                    {
                                        <td>
                                            <span class="badge badge-success">@item.ReservationStatus</span>
                                        </td>
                                    }
                                    @if (item.ReservationStatus == "Rezervasyon Alındı")
                                    {
                                        <td>
                                            <span class="badge badge-primary">@item.ReservationStatus</span>
                                        </td>
                                    }
                                    @if (item.ReservationStatus == "İptal Edildi")
                                    {
                                        <td>
                                            <span class="badge badge-danger">@item.ReservationStatus</span>
                                        </td>
                                    }

                                    <td>
                                        <a href="/AdminReservation/DeleteReservation/@item.ReservationId" class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">İptal </span>
                                        </a>

                                    </td>
                                    <td>
                                        <a href="/AdminReservation/OnaylandıReservation/@item.ReservationId" class="btn btn-success btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Onayla</span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/AdminReservation/UpdateReservation/@item.ReservationId" class="btn btn-warning btn-icon-split">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                            <span class="text">Detaylar</span>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
            

                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

    <!--Row-->


</div>

